.cart-page {
  position: static !important;
  color: $color-black-100;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;

  .Products-container {
    padding-bottom: 32px;
  }
  &__title {
    text-align: center;
    margin-bottom: 8px;
    color: $color-black-200;
  }

  &__empty {
    display: inline-block;
    color: $color-text-warning;
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;

    @media screen and (max-width: $breakpoint-sm) {
      margin-top: 12px;
    }
  }

  &__goes-back {
    width: 100%;
    position: relative;
    max-width: 140px;

    padding: 10px 32px;

    font-size: 1.15rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: $color-primary-300;
    color: $color-text-white;

    transition: all 0.2s linear;
    cursor: pointer;

    &-arrow {
      position: absolute;
      left: 8px;
      top: 27%;
    }

    @media screen and (min-width: $breakpoint-sm) {
      margin-right: 12px;

      &:hover {
        background-color: $color-primary-200;
      }
    }
  }

  &__product-container {
    flex: 1;
  }
  &__reserve-button {
    position: relative;

    width: 100%;
    max-width: 350px;

    padding: 10px 12px;
    background-color: $color-primary-300;

    font-size: 1.15rem;
    font-weight: 600;
    color: $color-background;

    border: 1px solid $color-background;
    border-radius: 8px;

    transition: all 0.2s linear;
    cursor: pointer;

    margin: 0 auto;

    @media screen and (min-width: $breakpoint-sm) {
      max-width: 430px;
      &:hover {
        background-color: $color-primary-200;
      }
    }

    &[disabled] {
      background: $color-black-500;
      color: $color-black-400;
      border: none;
      cursor: not-allowed;
    }
  }

  &__lock {
    position: absolute;
    top: -6px;
    right: -6px;
    color: $color-text-warning;
    filter: brightness(0.7);
  }

  &__info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 80, 53, 0.7);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: $color-text-warning;
      cursor: pointer;
    }
    &-container {
      display: flex;
      flex-direction: column;

      position: relative;
      padding: 16px;
      height: 100%;
      max-height: 75vh;
      transition: 0.2s linear width;

      width: 100%;
      max-width: 300px;

      @media screen and (min-width: $breakpoint-md) {
        width: 600px;
        max-width: inherit;
        height: 600px;
      }

      background-color: $color-background;
      &-title {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: $color-text-black;
      }

      &-description {
        margin: 0 auto;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        color: $color-text-black;
        margin: 12px 0;
      }

      &__form {
        display: flex;
        flex-direction: column;
        border: 0;
        height: 100%;

        &-container {
          flex: 1;
        }

        &-input-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          flex: 1;
          width: 100%;
          input {
            width: 100%;
            padding-left: 10px;
            font-size: 1rem;
            margin-bottom: 12px;
          }
          label {
            font-family: Poppins, sans-serif;
            font-size: 0.875rem;
            display: block;
            text-align: left;
          }
        }

        &-send {
          position: relative;
          width: 100%;

          padding: 6px 8px;
          background-color: $color-primary-300;

          font-size: 1rem;
          font-weight: 600;
          color: $color-background;

          border: 1px solid $color-background;
          border-radius: 8px;

          transition: all 0.2s linear;
          cursor: pointer;

          &[disabled] {
            background: $color-black-500;
            color: $color-black-400;
            border: none;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
