.cart {
  position: relative;
  width: 90px;
  font-family: Roboto, sans-serif;
  &__items-indicator {
    position: absolute;
    top: -12px;
    right: -7px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 0.75rem;
  }
}
