.Product {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 570px;
  height: 100%;
  border-radius: 8px;
  background: $color-primary-300;
  padding: 12px;

  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
  }

  &__Image-Container {
    width: 250px;
    height: 200px;
    position: relative;
  }

  img {
    border-radius: 8px;
  }
  &__Info {
    padding: 0 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    @media screen and (min-width: $breakpoint-lg) {
      max-width: 345px;
    }
  }

  &__Heading {
    color: $color-text-white;
    margin-bottom: 0.75rem;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    text-align: center;
    @media screen and (min-width: $breakpoint-lg) {
      text-align: initial;
    }
  }

  &__Description {
    color: $color-text-black;
    flex: 1;
    font-size: 0.875rem;
    font-family: Roboto, sans-serif;
  }

  &__Buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;

    &-External {
      font-size: 1rem;
      font-weight: 400;
      font-family: Roboto, "sans-serif";
      color: $color-black-200;
      text-decoration: underline;
    }

    &-Reserve {
      font-size: 0.75rem;
      font-weight: 600;
      border: 1px solid $color-background;
      color: $color-background;
      background: transparent;
      padding: 10px 12px;
      border-radius: 8px;
      transition: all 0.2s linear;

      @media screen and (min-width: $breakpoint-sm) {
        &:hover {
          background: $color-background;
          color: $color-text-black;
          cursor: pointer;
        }
      }

      &--remove {
        border-color: $color-text-warning;
        color: $color-text-warning;

        &:hover {
          background: $color-text-warning;
          color: $color-text-white;
        }
      }
    }
  }

  &--reserved {
    cursor: not-allowed;
    .Product {
      &__Img {
        filter: blur(5px);
      }
      &__Reserved-Plate {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.8) rotateZ(-10deg);
        width: 250px;
        height: 120px;
      }

      &__Buttons {
        &-External,
        &-Reserve {
          pointer-events: none;
          cursor: not-allowed;
          a {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
